
<!-- {{checkoutList | json}} -->
<br>
<h1 style="color: #54b4d1">Your orders</h1>
<br>
<div class="row col-10">
  <p>
    You have {{ totalItems }} items in your checkout list.
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th class="text-left">Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of checkoutList; let i=index">
        <td style="vertical-align: middle">
        </td>
        <!-- <td [ngClass]="c['nums']>0 ? 'null': 'lineThrough'" style="vertical-align: middle">{{checkoutListKeys[i]}} -->
        <td style="vertical-align: middle">{{checkoutListKeys[i]}}
        </td>
        <td class="text-center">

        {{c["nums"]}}

        </td>
        <td class="text-right" style="vertical-align: middle">
          {{c["price"] * c["nums"] | currency:'TWD':'symbol'}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{totalMoney | currency:'TWD':'symbol'}}</th>
      </tr>
      <tr>
        <th></th>
        <th class="text-left">
        </th>
        <th></th>
        <th class="text-right">
          <button (click)="OK()" class="btn btn-info">
            OK!
          </button>
        </th>
      </tr>

    </tfoot>
  </table>





