<form>
  <div>
    <label for="oldPassword" class="passWordFont">Name</label>
    <input required ngModel name=oldPassword #oldPassword="ngModel" type="text" id="oldPassword" class="form-control"
      [(ngModel)]="username">

    <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger"> Name is Required
    </div>
  </div>
  <br>

  <div>
    <label for="newPassword" class="passWordFont">Password</label>
    <input required type="password" ngModel name="newPassword" #newPassword="ngModel" id="newPassword"
      class="form-control">

    <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger"> Password is Required
    </div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="PasswordLogin()"> Login By acc </button>
</form>
